@model VendeTodo.ViewModels.ListaCompraVM
@{
    ViewBag.Title = VendeTodo.Helpers.ConstantHelpers.Compras.compraViewName;
}

<div class="row">
    <div class="col-lg-12">
        <div class="white-box">
            <h3 class="box-title m-b-0">Swipe Table</h3>
            <p class="text-muted m-b-20">The Column Swipe Table allows the user to select which columns they want to be visible.</p>
            <table class="tablesaw table-bordered table-hover table" data-tablesaw-mode="swipe">
                <thead>
                    <tr>
                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist">Compra N°</th>
                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-sortable-default-col data-tablesaw-priority="3">Monto Total</th>
                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="2">Fecha Compra</th>
                        @*<th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1">
                            <abbr title="Rotten Tomato Rating">Rating</abbr>
                        </th>
                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4">Gross</th>*@
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.lstCompras)
                    {
                        <tr>
                            <td class="title"><a href="@Url.Action("DetalleCompra",VendeTodo.Helpers.ConstantHelpers.Compras.controllerName,new { compraid = item.idCompra})">Compra @item.idCompra</a></td>
                            <td>@item.montoTotal</td>
                            <td>@item.fechaCompra.ToShortDateString()</td>
                        </tr>
                    }
                    
                </tbody>
            </table>
        </div>
    </div>
</div>

